<% provide(:title, 'Home') %>

<div class="center hero-unit">
				<h3>This is what a post title would look like</h3>
				<div id = 'prePost'> Author :  Name - Posted on : Date&time </div>
				<br/>

				Lots and lots of content - like for serious, silly amounts of content and stuff - I can't even handle all the srsnz that this post contains - I'm pretty sure you're learning all sorts of cool information just by reading
				this little bit of text that I've put down on the page. I hope you reblog this and ping me back and tweet about this and tell all your friends. For srz.<br/><br/>

				<div id = 'tags'>Tags : Making tags, Another Tags, Different Tags, Oh gee another tag</div><br/>

				<h3>This is what a post title would look like</h3>
				<div id = 'prePost'> Author :  Name - Posted on : Date&time </div>
				<br/>

				Lots and lots of content - like for serious, silly amounts of content and stuff - I can't even handle all the srsnz that this post contains - I'm pretty sure you're learning all sorts of cool information just by reading
				this little bit of text that I've put down on the page. I hope you reblog this and ping me back and tweet about this and tell all your friends. For srz.<br/><br/>

				<div id = 'tags'>Tags : Making tags, Another Tags, Different Tags, Oh gee another tag</div><br/>

				<h3>This is what a post title would look like</h3>
				<div id = 'prePost'> Author :  Name - Posted on : Date&time </div>
				<br/>

				Lots and lots of content - like for serious, silly amounts of content and stuff - I can't even handle all the srsnz that this post contains - I'm pretty sure you're learning all sorts of cool information just by reading
				this little bit of text that I've put down on the page. I hope you reblog this and ping me back and tweet about this and tell all your friends. For srz.<br/><br/>

				<div id = 'tags'>Tags : Making tags, Another Tags, Different Tags, Oh gee another tag</div><br/>

				<h3>This is what a post title would look like</h3>
				<div id = 'prePost'> Author :  Name - Posted on : Date&time </div>
				<br/>

				Lots and lots of content - like for serious, silly amounts of content and stuff - I can't even handle all the srsnz that this post contains - I'm pretty sure you're learning all sorts of cool information just by reading
				this little bit of text that I've put down on the page. I hope you reblog this and ping me back and tweet about this and tell all your friends. For srz.<br/><br/>

				<div id = 'tags'>Tags : Making tags, Another Tags, Different Tags, Oh gee another tag</div><br/>

				<h3>This is what a post title would look like</h3>
				<div id = 'prePost'> Author :  Name - Posted on : Date&time </div>
				<br/>

				Lots and lots of content - like for serious, silly amounts of content and stuff - I can't even handle all the srsnz that this post contains - I'm pretty sure you're learning all sorts of cool information just by reading
				this little bit of text that I've put down on the page. I hope you reblog this and ping me back and tweet about this and tell all your friends. For srz.<br/><br/>

				<div id = 'tags'>Tags : Making tags, Another Tags, Different Tags, Oh gee another tag</div><br/>

</div>

