<div id = 'footerStretch'>
	<footer class='footer'>
	  <small>
	   	<%= link_to image_tag('rails.png', :alt=> 'Rails'), 'http://rubyonrails.org/' %>
	  </small>
	  	<span id='copyright'>
	  		Copyright &copy; syntaxSymposium  &#8226;  Created in Toronto, Ontario, Canada
		</span>
	  <nav>
	    <ul class = 'menu'>
	      <li><%= link_to 'About',   '#' %></li>
	      <li><%= link_to 'Contact', '#' %></li>
	    </ul>
	  </nav>
	</footer>
</div>