<div id ='contactBox'>
	<center>
		<h3> Contact Me </h3>
			<a href='https://twitter.com/SyntaxSymposium' class='twitter-follow-button' data-show-count='false'>Follow @SyntaxSymposium</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='//platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}
				(document,'script','twitter-wjs');</script>
				<br/>	
			<a href='http://ca.linkedin.com/pub/hunter-jansen/4a/513/430' style='text-decoration:none;'><span style='font: 80% Arial,sans-serif; color:#0783B6;'><img src='http://www.linkedin.com/img/webpromo/btn_in_20x15.png' width='20' height='15' alt='View Hunter Jansen's LinkedIn profile' style='vertical-align:middle' border='0'>View Hunter Jansen's profile</span></a>
		<br/>
	</center>			 
</div>		